body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  box-shadow: 0 0 10px 0 gray;
}

.logo {
  width: 220px;
}
.logo-footer {
  width: 230px;
}
nav {
  box-shadow: 0 0 10px 0 gray;
}

footer {
  box-shadow: 0 0 5px 0 gray;
}
header li a:hover {
  text-decoration: underline;
  background: #1c885549;
  border-radius: 5px;
}

/*estilo manu*/

.contenedorForm{
  background: #0000002a;
  box-shadow: 0 0 2px 0 rgb(49, 49, 49);
  border-radius: 5px;
}

aside {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 1vw;
}
.videos iframe {
  width: 50vw;
  height: 28vw;
}
.publicidad {
  height: 60vw;
  background-color: rgba(0, 0, 0, 0.801);
  font-size: medium;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}
.publicidad h3,
.publicidad h5 {
  font-size: medium;
}
.publicidadFord{
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 gray;
}
.publicidadFord img{
  border-radius: 10px;
  box-shadow: 0 0 5px 0 gray;
}

.imgCarouselOferta {
  height: 25vw;
  object-fit: cover;
}

.text-p-oferta {
  background-color: rgba(92, 92, 92, 0.658);
}
.carouselOferta {
  height: 40vw;
}

.cardFooterSide{
  height: auto;
}

/* publicidad*/
.anchoPrincipal {
  width: 75vw;
}
.anchoPubli {
  width: 20vw;
}

/* agregado de productos */
.imagen-carrusel {
  height: 400px;
  object-fit: cover;
}
.anuncio-redondeado {
  border-radius: 0px 0px 30px 30px;
}
.ruedaPre {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.rueda-texto {
  left: 18%;
}
/* dispositivos sm */
@media all and (max-width: 767px) {
  .logo {
    width: 150px;
  }
  .btn-nav {
    margin-top: 5px;
  }
  ul {
    text-align: center;
  }
  .anchoPrincipal {
    width: 100vw;
  }
  .imgCarouselOferta {
    height: 40vw;
  }
  .carouselOferta {
    height: 50vw;
  }
  .text-p-oferta p {
    font-size: xx-small;
  }
  .videos iframe {
    width: 100vw;
    height: 80vw;
    margin-top: 1vw;
    margin-bottom: 3%;
  }
  /* agregado de productos */

  .anuncioPC {
    display: none;
  }
}

/* dispositivos md */
@media all and (min-width: 768px) and (max-width: 991px) {
  .btn-nav {
    margin-top: 5px;
  }
  ul {
    text-align: center;
  }
  .anchoPrincipal {
    width: 100vw;
  }
  .videos iframe {
    width: 100vw;
    height: 50vw;
  }
  /* agregado de productos */

  .anuncioPC {
    display: none;
  }
}

/* dispositivos grandes lg */

@media all and (min-width: 992px) {
  .anchoPrincipal {
    width: 75vw;
  }
  .anchoPubli {
    width: 20vw;
  }
  .publicidad {
    height: auto;
    background-color: rgba(0, 0, 0, 0.801);
    font-size: medium;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 gray;
  }
  .publicidad h3,
  .publicidad h5 {
    font-size: medium;
  }
  /* agregado de productos */
  .imagen-carrusel {
    height: 650px;
  }
}
